form.search {
  overflow: auto;
  margin-bottom: 10px;
  margin-left: 370px;
  width: 50%;
  text-align: center;
  position: center;

  
}

form.search button[type="submit"] {
  float: center;
  margin-top: 10px;
  align-content: center;
}

form.search input{
  text-align: center;
}


